*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: 10px;
	font-family: verdana, sans-serif, arial;
	scroll-behavior: smooth;
}

body{
	width: 100%;
	font-size: 1.6rem;
	background: #dddddd;
}

a{
	text-decoration: none;
	color: rgba(22,22,22,0.7);
}

a:hover{
	color: rgba(45,122,181,1);
}

.container{
	width: 768px;
	min-height: calc(100vh - 50px);
	margin: 5rem auto;
	padding: 4rem;
	font-size: 1.6rem;
	background: #ffffff;
}

header{
	width: 100%;
	height: 10rem;
	line-height: 10rem;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	background: #dd34ab;
	border-radius: 1rem;
}

header h1{
	font-weight: bold;
}

.back-btn{
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	margin-top: 4rem;
	margin-bottom: 0;
	text-align: center;
}

.back-btn button{
	width: 15rem;
	height: 4.5rem;
	padding: 1rem;
	border-radius: 0.5rem;
	background: #dd34ab;
	color: #ffffff;
	font-size: 1.6rem;
	font-weight: bold;
	border: none;
	letter-spacing: -3px;
	outline: none;
	box-shadow: none;
}

.back-btn button:hover,
.back-btn button:focus{
	background: #ab34dd;
}

form{
	width: 20rem;
	margin-top: 4rem;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

form input{
	width: 10rem;
	text-align: center;
}

form button{
	width: 8rem;
	padding: 0.2rem;
	text-align: center;
}

#property{
	padding: 2rem;
	list-style: none;
	width: 100%;
}

#property li{
	margin: 2rem;
	border: solid 0.1rem #aaaaaa;
	border-radius: 1rem;
	box-shadow: 0.5rem 1rem 0 #dd34ab;
}

#property li.detail{
	padding: 2rem;
}

#property li:not(#property li.detail):not(:last-of-type){
	margin-bottom: 4rem;
}

#property a{
	display: block;
	padding: 2rem;
	width: 100%;
	height: 100%;
}

li.detail div{
	width: 100%;
	padding: 2rem;
}

li.detail img{
	display: block;
	width: 20rem;
	max-width: 20rem;
	height: auto;
	margin: 0 auto;
}

.show{
	display: block;
}

.hide{
	display: none;
}

footer{
	text-align: center;
	font-size: 1.5rem;
	height: 5rem;
	color: rgba(255, 255, 255, 0.8);
	background: #dd34ab;
	line-height: 5rem;
	border-radius: 0.5rem;
}

@media screen and (min-width: 320px){
	li.detail img{
		width: 30rem;
		max-width: 30rem;
	}
}

@media screen and (min-width: 480px){
	li.detail img{
		width: 40rem;
		max-width: 40rem;
	}
}

@media screen and (min-width: 576px){
	li.detail img{
		width: 50rem;
		max-width: 50rem;
	}
}